html, body {
	height: 100%;
}
body {
	overflow: hidden;
	margin: 0;
	font-family: sans-serif;
	background-color: #000;
}
#milkyway,
.object {
	transition-duration: .5s;
}

#main {
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 16px;
}
#main.column {
	flex-direction: column;
}

#milkyway {
	position: absolute;
	width: 2800px;
	height: 1400px;
	top: 50%;
	left: 50%;
	margin: -700px 0 0 -1400px;
	background: no-repeat center url("milky-way.jpg");
	background-size: cover;
	transform: scale(1);
	transition-property: transform;
}
body.hd #milkyway {
	background-image: url("milky-way-hd.jpg");
}

.page {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	font-size: 18px;
	color: #ddd;
}

.object {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin: 0;
	box-sizing: border-box;
	border-radius: 50%;
	background: no-repeat center #000;
	transition-property: width, height, margin, background-color;
}

select,
.object-aka,
.object-size {
	z-index: 1;
	padding: 8px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, .5);
}

select {
	z-index: 1;
	max-width: 100%;
	color: #ddd;
	border: 0;
	font-size: 48px;
	text-align: center;
	text-align-last: center;
	text-overflow: ellipsis;
}
optgroup {
	color: #555;
	font-size: 12px;
	background-color: #111;
}
optgroup,
option {
	padding: 4px 0;
}
option {
	color: #aaa;
	font-size: 14px;
	background-color: #050505;
}
option[value="sagittarius_astar"],
option[value="sun"],
option[value="jupiter"],
option[value="earth"],
option[value="moon"] {
	color: #bbb;
	background-color: #222;
}
.object-aka,
.object-size {
	margin: 10px 0;
}
.object-aka {
	font-style: italic;
}

.object-aka:empty {
	display: none;
}

.object-aka:not(:empty)::before,
.object-size::before,
.object-size::after {
	content: "alias\A0:\A0";
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	opacity: .5;
}
.object-size {
	font-weight: bold;
}
.object-size::before {
	content: "diameter\A0:\A0";
}
.object-size::after {
	content: "\A0km";
}
